<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="{{ '/' | relative_url }}">
      <img src="{{ '/image/di-osvise.svg' | relative_url }}" alt="DI-OSVISE Logo" class="me-2" style="height: 32px; width: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% for link in site.navbar_links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
